<ion-view title="chat_room">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="height: 60%;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
            <button class="button button-stable button-block ">Enviar</button>
        </form>
    </ion-content>
</ion-view>