<ion-view title="Criando uma conta">
    <ion-content overflow-scroll="true" padding="false" scroll="false">
        <form class="list">
            <label class="item item-input" name="nome">
                <span class="input-label">Nome</span>
                <input ng-model="usuario.nome"type="text" placeholder="nome">
            </label>
            <label class="item item-input" name="apelido">
                <span class="input-label">Apelido</span>
                <input ng-model="usuario.apelido"type="text" placeholder="apelido">
            </label>
            <label class="item item-input" name="email">
                <span class="input-label">Email</span>
                <input ng-model="usuario.email"type="email" placeholder="email">
            </label>
            <label class="item item-select" name="genero">
                <span class="input-label">Gênero</span>
                <select ng-model="usuario.genero">
						  <option  value="m">Masculino</option>
						   <option value="f">Feminino</option>
                </select>
            </label>
            <label class="item item-input" name="aniversario">
                <span class="input-label">Aniversário</span>
                <input ng-model="usuario.niver" type="date" placeholder="aniversario">
            </label>
            <label class="item item-input" name="senha">
                <span class="input-label">Senha</span>
                <input ng-model="usuario.password"type="password" placeholder="senha">
            </label>
            <label class="item item-input" name="rep_senha">
                <span class="input-label">Repetir Senha</span>
                <input ng-model="usuario.password_2"type="password" placeholder="repetir senha">
            </label>
        </form>
        <button ng-click="enviar(usuario)" class="button button-stable button-outline button-block ">Enviar</button>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>