<ion-view title="Simply Chat">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/DqNYHDkxT3mD3s9GX5rs_1337093.jpg) no-repeat center;" scroll="false">
        <div class="spacer" style="width: 320px; height: 199px;"></div>
        <form class="list">
            <label class="item item-input" name="user">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input" name="password">
                <input type="password" placeholder="Senha">
            </label>
        </form>
        <button class="button  button-outline button-block ">Entrar</button>
    </ion-content>
</ion-view>